# 6-1 Aggregate function for dataset

## Aggregate value for reservation data

### Pandas

In [1]:
import pandas as pd

In [2]:
pd_reservation = pd.read_parquet("../../data/reservation.parquet")

In [3]:
pd_reservation.head()

,reservation_id,hotel_id,customer_id,reserved_at,checkin_date,checkout_date,length_of_stay,people_num,total_price,status,canceled_at
0,1,2460,53431,2013-12-31 07:00:14+09:00,2014-12-31 00:00:00+09:00,2015-01-03 00:00:00+09:00,3,2,37800,reserved,NaT
1,2,962,488390,2013-12-31 08:23:35+09:00,2014-12-31 00:00:00+09:00,2015-01-02 00:00:00+09:00,2,3,42000,reserved,NaT
2,3,558,341335,2013-12-31 09:02:05+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,2,20400,reserved,NaT
3,4,3666,398981,2013-12-31 23:44:54+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,4,39600,reserved,NaT
4,5,2180,220381,2014-01-01 02:47:50+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,3,16500,reserved,NaT

In [4]:
(
    pd_reservation
    # Extract by condition
    .query("status != 'canceled'")
    # aggregate value
    .agg(
        reservation_cnt=("reservation_id", "size"),
        sales=("total_price", "sum"),
        mean_sales=("total_price", "mean"),
        min_sales=("total_price", "min"),
        max_sales=("total_price", "max"),
        var_sales=("total_price", "var"),
        std_sales=("total_price", "std"),
    )
)

                 reservation_id   total_price
reservation_cnt       1799589.0           NaN
sales                       NaN  7.204893e+10
mean_sales                  NaN  4.003632e+04
min_sales                   NaN  4.000000e+03
max_sales                   NaN  5.970000e+05
var_sales                   NaN  1.223721e+09
std_sales                   NaN  3.498172e+04

### Polars

In [5]:
import polars as pl

In [6]:
pl_reservation = pl.read_parquet("../../data/reservation.parquet")

In [7]:
pl_reservation.head()

shape: (5, 11)
┌────────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ reservatio ┆ hotel_id ┆ customer_ ┆ reserved_ ┆ … ┆ people_nu ┆ total_pri ┆ status   ┆ canceled_ │
│ n_id       ┆ ---      ┆ id        ┆ at        ┆   ┆ m         ┆ ce        ┆ ---      ┆ at        │
│ ---        ┆ i64      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str      ┆ ---       │
│ i64        ┆          ┆ i64       ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆          ┆ datetime[ │
│            ┆          ┆           ┆ ns, Asia/ ┆   ┆           ┆           ┆          ┆ ns, Asia/ │
│            ┆          ┆           ┆ Tokyo]    ┆   ┆           ┆           ┆          ┆ Tokyo]    │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 1          ┆ 2460     ┆ 53431     ┆ 2013-12-3 ┆ … ┆ 2         ┆ 37800     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 07:00:14  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 2          ┆ 962      ┆ 488390    ┆ 2013-12-3 ┆ … ┆ 3         ┆ 42000     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 08:23:35  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 3          ┆ 558      ┆ 341335    ┆ 2013-12-3 ┆ … ┆ 2         ┆ 20400     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 09:02:05  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 4          ┆ 3666     ┆ 398981    ┆ 2013-12-3 ┆ … ┆ 4         ┆ 39600     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 23:44:54  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 5          ┆ 2180     ┆ 220381    ┆ 2014-01-0 ┆ … ┆ 3         ┆ 16500     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 02:47:50  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [8]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .select([
        pl.col("reservation_id").len().alias("reservation_cnt"),
        pl.col("total_price").sum().alias("sales"),
        pl.col("total_price").mean().alias("mean_sales"),
        pl.col("total_price").min().alias("min_sales"),
        pl.col("total_price").max().alias("max_sales"),
        pl.col("total_price").var().alias("var_sales"),
        pl.col("total_price").std().alias("std_sales"),
    ])
)

shape: (1, 7)
┌─────────────────┬─────────────┬──────────────┬───────────┬───────────┬───────────┬──────────────┐
│ reservation_cnt ┆ sales       ┆ mean_sales   ┆ min_sales ┆ max_sales ┆ var_sales ┆ std_sales    │
│ ---             ┆ ---         ┆ ---          ┆ ---       ┆ ---       ┆ ---       ┆ ---          │
│ u32             ┆ i64         ┆ f64          ┆ i64       ┆ i64       ┆ f64       ┆ f64          │
╞═════════════════╪═════════════╪══════════════╪═══════════╪═══════════╪═══════════╪══════════════╡
│ 1799589         ┆ 72048928400 ┆ 40036.324072 ┆ 4000      ┆ 597000    ┆ 1.2237e9  ┆ 34981.716778 │
└─────────────────┴─────────────┴──────────────┴───────────┴───────────┴───────────┴──────────────┘

## Unique count

### Pandas

In [9]:
(
    pd_reservation
    .query("status != 'canceled'")
    .loc[:, "customer_id"]
    .nunique()
)

411336

### Polars

In [10]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .select(pl.col("customer_id"))
    # also count null
    .n_unique()
)

411336

## Mean value and percentile

### Pandas

In [11]:
(
    pd_reservation
    .query("status != 'cancled'")
    .agg(
        median_sales=("total_price", "median"),
        p25_sales=("total_price", lambda s: s.quantile(0.25)),
        p75_sales=("total_price", lambda s: s.quantile(0.75)),
    )
)

              total_price
median_sales      30400.0
p25_sales         17200.0
p75_sales         51000.0

### Polars

In [12]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .select([
        pl.col("total_price").median().alias("median_sales"),
        pl.col("total_price").quantile(0.25, interpolation="linear").alias("p25_sales"),
        pl.col("total_price").quantile(0.75, interpolation="linear").alias("p75_salse"),
    ])
)

shape: (1, 3)
┌──────────────┬───────────┬───────────┐
│ median_sales ┆ p25_sales ┆ p75_salse │
│ ---          ┆ ---       ┆ ---       │
│ f64          ┆ f64       ┆ f64       │
╞══════════════╪═══════════╪═══════════╡
│ 30400.0      ┆ 17200.0   ┆ 51000.0   │
└──────────────┴───────────┴───────────┘

## Mode group by

### Pandas

In [13]:
(
    pd_reservation
    .query("status != 'canceled'")
    .groupby("hotel_id")
    .agg(mode_people_num=("people_num", lambda s: s.mode().iloc[0])) # iloc: for multiple mode value
)

          mode_people_num
hotel_id
1                       1
3                       3
4                       2
5                       2
6                       3
...                   ...
4996                    1
4997                    3
4998                    2
4999                    4
5000                    2

[4527 rows x 1 columns]

### Polars

In [14]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .group_by("hotel_id")
    .agg(pl.col("people_num").mode().first().alias("mode_people_num"))
    .sort("hotel_id")
)

shape: (4_527, 2)
┌──────────┬─────────────────┐
│ hotel_id ┆ mode_people_num │
│ ---      ┆ ---             │
│ i64      ┆ i64             │
╞══════════╪═════════════════╡
│ 1        ┆ 1               │
│ 3        ┆ 3               │
│ 4        ┆ 2               │
│ 5        ┆ 2               │
│ 6        ┆ 3               │
│ …        ┆ …               │
│ 4996     ┆ 1               │
│ 4997     ┆ 3               │
│ 4998     ┆ 2               │
│ 4999     ┆ 4               │
│ 5000     ┆ 2               │
└──────────┴─────────────────┘