# 6-4 Aggredate by time interval

## Sales by month

### Pandas

In [1]:
import pandas as pd

In [2]:
pd_reservation = pd.read_parquet("../../data/reservation.parquet")

In [3]:
pd_reservation.head()

,reservation_id,hotel_id,customer_id,reserved_at,checkin_date,checkout_date,length_of_stay,people_num,total_price,status,canceled_at
0,1,2460,53431,2013-12-31 07:00:14+09:00,2014-12-31 00:00:00+09:00,2015-01-03 00:00:00+09:00,3,2,37800,reserved,NaT
1,2,962,488390,2013-12-31 08:23:35+09:00,2014-12-31 00:00:00+09:00,2015-01-02 00:00:00+09:00,2,3,42000,reserved,NaT
2,3,558,341335,2013-12-31 09:02:05+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,2,20400,reserved,NaT
3,4,3666,398981,2013-12-31 23:44:54+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,4,39600,reserved,NaT
4,5,2180,220381,2014-01-01 02:47:50+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,3,16500,reserved,NaT

In [4]:
(
    pd_reservation
    .query("status != 'canceled'")
    .assign(month=lambda df: df.checkout_date.dt.to_period("M"))
    .groupby("month").total_price.sum()
)

/tmp/ipykernel_9010/3569843618.py:4: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  .assign(month=lambda df: df.checkout_date.dt.to_period("M"))

month
2015-01     730844200
2015-02     650411000
2015-03    1447995200
2015-04     697578500
2015-05    2185718000
2015-06     697210900
2015-07    1465165300
2015-08    2910478200
2015-09     708236200
2015-10     733080000
2015-11     704430600
2015-12    1468389300
2016-01     730553200
2016-02     688327500
2016-03    1447950000
2016-04     695937700
2016-05    2189308100
2016-06     697594900
2016-07    1457527800
2016-08    2908152300
2016-09     697209200
2016-10     717107300
2016-11     701391700
2016-12    1465204000
2017-01     727519600
2017-02     656184700
2017-03    1440961900
2017-04     699264200
2017-05    2179041700
2017-06     701322100
2017-07    1448508800
2017-08    2934380700
2017-09     722047000
2017-10     724966800
2017-11     706726000
2017-12    1460880800
2018-01     730334300
2018-02     657539300
2018-03    1451755500
2018-04     706020700
2018-05    2201273400
2018-06     694748200
2018-07    1454922700
2018-08    2905345600
2018-09     711891500
2018-10     738280200
2018-11     709726500
2018-12    1466301400
2019-01     740233700
2019-02     646023300
2019-03    1462116000
2019-04     713238400
2019-05    2171845900
2019-06     696780000
2019-07    1462451700
2019-08    2932441800
2019-09     707822000
2019-10     733193600
2019-11     704777800
2019-12    1452259500
Freq: M, Name: total_price, dtype: int64

### Polars

In [5]:
import polars as pl

In [6]:
pl_reservation = pl.read_parquet("../../data/reservation.parquet")

In [7]:
pl_reservation.head()

shape: (5, 11)
┌────────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ reservatio ┆ hotel_id ┆ customer_ ┆ reserved_ ┆ … ┆ people_nu ┆ total_pri ┆ status   ┆ canceled_ │
│ n_id       ┆ ---      ┆ id        ┆ at        ┆   ┆ m         ┆ ce        ┆ ---      ┆ at        │
│ ---        ┆ i64      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str      ┆ ---       │
│ i64        ┆          ┆ i64       ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆          ┆ datetime[ │
│            ┆          ┆           ┆ ns, Asia/ ┆   ┆           ┆           ┆          ┆ ns, Asia/ │
│            ┆          ┆           ┆ Tokyo]    ┆   ┆           ┆           ┆          ┆ Tokyo]    │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 1          ┆ 2460     ┆ 53431     ┆ 2013-12-3 ┆ … ┆ 2         ┆ 37800     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 07:00:14  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 2          ┆ 962      ┆ 488390    ┆ 2013-12-3 ┆ … ┆ 3         ┆ 42000     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 08:23:35  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 3          ┆ 558      ┆ 341335    ┆ 2013-12-3 ┆ … ┆ 2         ┆ 20400     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 09:02:05  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 4          ┆ 3666     ┆ 398981    ┆ 2013-12-3 ┆ … ┆ 4         ┆ 39600     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 23:44:54  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 5          ┆ 2180     ┆ 220381    ┆ 2014-01-0 ┆ … ┆ 3         ┆ 16500     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 02:47:50  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [8]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .group_by(pl.col("checkout_date").dt.truncate("1mo"))
    .agg(pl.col("total_price").sum())
)

shape: (60, 2)
┌──────────────────────────┬─────────────┐
│ checkout_date            ┆ total_price │
│ ---                      ┆ ---         │
│ datetime[ns, Asia/Tokyo] ┆ i64         │
╞══════════════════════════╪═════════════╡
│ 2015-05-01 00:00:00 JST  ┆ 2185718000  │
│ 2019-09-01 00:00:00 JST  ┆ 707822000   │
│ 2016-02-01 00:00:00 JST  ┆ 688327500   │
│ 2015-08-01 00:00:00 JST  ┆ 2910478200  │
│ 2017-10-01 00:00:00 JST  ┆ 724966800   │
│ …                        ┆ …           │
│ 2016-07-01 00:00:00 JST  ┆ 1457527800  │
│ 2018-06-01 00:00:00 JST  ┆ 694748200   │
│ 2018-03-01 00:00:00 JST  ┆ 1451755500  │
│ 2017-04-01 00:00:00 JST  ┆ 699264200   │
│ 2018-12-01 00:00:00 JST  ┆ 1466301400  │
└──────────────────────────┴─────────────┘