# 6-1 Aggregate by group

## Aggregate sales by hotel

### Pandas

In [1]:
import pandas as pd

In [2]:
pd_reservation = pd.read_parquet("../../data/reservation.parquet")

In [3]:
pd_reservation.head()

,reservation_id,hotel_id,customer_id,reserved_at,checkin_date,checkout_date,length_of_stay,people_num,total_price,status,canceled_at
0,1,2460,53431,2013-12-31 07:00:14+09:00,2014-12-31 00:00:00+09:00,2015-01-03 00:00:00+09:00,3,2,37800,reserved,NaT
1,2,962,488390,2013-12-31 08:23:35+09:00,2014-12-31 00:00:00+09:00,2015-01-02 00:00:00+09:00,2,3,42000,reserved,NaT
2,3,558,341335,2013-12-31 09:02:05+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,2,20400,reserved,NaT
3,4,3666,398981,2013-12-31 23:44:54+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,4,39600,reserved,NaT
4,5,2180,220381,2014-01-01 02:47:50+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,3,16500,reserved,NaT

In [4]:
(
    pd_reservation
    .query("status != 'canceled'")
    .groupby("hotel_id")
    .total_price
    .sum()
)

hotel_id
1       19631800
3       48453000
4        9555000
5       14004000
6       14137200
          ...
4996    36529900
4997    11545600
4998    26674300
4999    55862400
5000     9965000
Name: total_price, Length: 4527, dtype: int64

### Polars

In [5]:
import polars as pl

In [6]:
pl_reservation = pl.read_parquet("../../data/reservation.parquet")

In [7]:
pl_reservation.head()

shape: (5, 11)
┌────────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ reservatio ┆ hotel_id ┆ customer_ ┆ reserved_ ┆ … ┆ people_nu ┆ total_pri ┆ status   ┆ canceled_ │
│ n_id       ┆ ---      ┆ id        ┆ at        ┆   ┆ m         ┆ ce        ┆ ---      ┆ at        │
│ ---        ┆ i64      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str      ┆ ---       │
│ i64        ┆          ┆ i64       ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆          ┆ datetime[ │
│            ┆          ┆           ┆ ns, Asia/ ┆   ┆           ┆           ┆          ┆ ns, Asia/ │
│            ┆          ┆           ┆ Tokyo]    ┆   ┆           ┆           ┆          ┆ Tokyo]    │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 1          ┆ 2460     ┆ 53431     ┆ 2013-12-3 ┆ … ┆ 2         ┆ 37800     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 07:00:14  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 2          ┆ 962      ┆ 488390    ┆ 2013-12-3 ┆ … ┆ 3         ┆ 42000     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 08:23:35  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 3          ┆ 558      ┆ 341335    ┆ 2013-12-3 ┆ … ┆ 2         ┆ 20400     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 09:02:05  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 4          ┆ 3666     ┆ 398981    ┆ 2013-12-3 ┆ … ┆ 4         ┆ 39600     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 23:44:54  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 5          ┆ 2180     ┆ 220381    ┆ 2014-01-0 ┆ … ┆ 3         ┆ 16500     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 02:47:50  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [8]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .group_by("hotel_id")
    .agg(pl.col("total_price").sum()).sort("hotel_id")
)

shape: (4_527, 2)
┌──────────┬─────────────┐
│ hotel_id ┆ total_price │
│ ---      ┆ ---         │
│ i64      ┆ i64         │
╞══════════╪═════════════╡
│ 1        ┆ 19631800    │
│ 3        ┆ 48453000    │
│ 4        ┆ 9555000     │
│ 5        ┆ 14004000    │
│ 6        ┆ 14137200    │
│ …        ┆ …           │
│ 4996     ┆ 36529900    │
│ 4997     ┆ 11545600    │
│ 4998     ┆ 26674300    │
│ 4999     ┆ 55862400    │
│ 5000     ┆ 9965000     │
└──────────┴─────────────┘

## Number of reservation by hotels, customers

### Pandas

In [9]:
(
    pd_reservation
    .query("status != 'canceled'")
    .groupby(["hotel_id", "customer_id"])
    .size()
)

hotel_id  customer_id
1         1104           1
          1477           1
          2129           1
          2665           1
          4151           1
                        ..
5000      495309         1
          496003         1
          496010         1
          496997         1
          498882         1
Length: 1798305, dtype: int64

### Polars

In [10]:
(
    pl_reservation
    .filter(pl.col("status") != "canceled")
    .group_by(["hotel_id", "customer_id"])
    .agg(pl.len()).sort("hotel_id")
)

shape: (1_798_305, 3)
┌──────────┬─────────────┬─────┐
│ hotel_id ┆ customer_id ┆ len │
│ ---      ┆ ---         ┆ --- │
│ i64      ┆ i64         ┆ u32 │
╞══════════╪═════════════╪═════╡
│ 1        ┆ 299534      ┆ 1   │
│ 1        ┆ 365060      ┆ 1   │
│ 1        ┆ 346393      ┆ 1   │
│ 1        ┆ 19555       ┆ 1   │
│ 1        ┆ 42571       ┆ 1   │
│ …        ┆ …           ┆ …   │
│ 5000     ┆ 74164       ┆ 1   │
│ 5000     ┆ 27115       ┆ 1   │
│ 5000     ┆ 130498      ┆ 1   │
│ 5000     ┆ 277629      ┆ 1   │
│ 5000     ┆ 271624      ┆ 1   │
└──────────┴─────────────┴─────┘