# 7-1 One-to-one and many-to-one

## Extract business hotel and people number = 1 reservation data

### Pandas

In [1]:
import pandas as pd

In [2]:
pd_reservation = pd.read_parquet("../../data/reservation.parquet")
pd_hotel       = pd.read_parquet("../../data/hotel.parquet")

In [3]:
pd_reservation.head()

,reservation_id,hotel_id,customer_id,reserved_at,checkin_date,checkout_date,length_of_stay,people_num,total_price,status,canceled_at
0,1,2460,53431,2013-12-31 07:00:14+09:00,2014-12-31 00:00:00+09:00,2015-01-03 00:00:00+09:00,3,2,37800,reserved,NaT
1,2,962,488390,2013-12-31 08:23:35+09:00,2014-12-31 00:00:00+09:00,2015-01-02 00:00:00+09:00,2,3,42000,reserved,NaT
2,3,558,341335,2013-12-31 09:02:05+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,2,20400,reserved,NaT
3,4,3666,398981,2013-12-31 23:44:54+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,4,39600,reserved,NaT
4,5,2180,220381,2014-01-01 02:47:50+09:00,2014-12-31 00:00:00+09:00,2015-01-01 00:00:00+09:00,1,3,16500,reserved,NaT

In [4]:
pd_hotel.head()

,hotel_id,hotel_name,hotel_type,address_prefecture,address_city,address_town,address_zipcode,unit_price,user_rating,tag_001,...,tag_021,tag_022,tag_023,tag_024,tag_025,tag_026,tag_027,tag_028,tag_029,tag_030
0,1,北飯岡ホテル,ビジネスホテル,岩手県,盛岡市,北飯岡,020-0857,10300,3.256591,0,...,0,1,<NA>,0,0,1,0,0,0,0
1,2,西二条南温泉ホテル,リゾートホテル,北海道,中川郡美深町,西二条南,098-2242,6800,3.453642,0,...,0,0,0,<NA>,1,0,0,0,0,0
2,3,小屋敷ペンション,民宿,青森県,黒石市,小屋敷,036-0511,18600,1.381796,<NA>,...,0,0,0,1,<NA>,<NA>,0,0,0,0
3,4,中後町民宿,民宿,愛知県,碧南市,中後町,447-0042,4900,2.090353,0,...,0,0,0,0,0,0,0,0,1,0
4,5,鵜沼台ホテル,ビジネスホテル,岐阜県,各務原市,鵜沼台,509-0121,9000,2.771490,0,...,0,0,0,0,0,1,1,1,0,0

In [5]:
(
    pd_reservation
    .query("people_num == 1")
    .merge(
        pd_hotel.query("hotel_type == 'ビジネスホテル'")["hotel_id"],
        on="hotel_id",
        how="inner",
    )
)

,reservation_id,hotel_id,customer_id,reserved_at,checkin_date,checkout_date,length_of_stay,people_num,total_price,status,canceled_at
0,72,2706,100573,2014-01-08 14:32:58+09:00,2015-01-01 00:00:00+09:00,2015-01-02 00:00:00+09:00,1,1,8400,reserved,NaT
1,176,1870,40419,2014-01-14 02:33:55+09:00,2015-01-02 00:00:00+09:00,2015-01-04 00:00:00+09:00,2,1,25200,canceled,2014-06-15 16:17:35+09:00
2,190,1801,4819,2014-01-14 13:47:22+09:00,2015-01-01 00:00:00+09:00,2015-01-02 00:00:00+09:00,1,1,5900,reserved,NaT
3,191,3422,53534,2014-01-14 14:22:49+09:00,2015-01-04 00:00:00+09:00,2015-01-05 00:00:00+09:00,1,1,8400,reserved,NaT
4,194,521,138201,2014-01-14 15:39:34+09:00,2015-01-07 00:00:00+09:00,2015-01-08 00:00:00+09:00,1,1,12100,reserved,NaT
...,...,...,...,...,...,...,...,...,...,...,...
101023,1999920,509,360612,2019-12-22 21:32:12+09:00,2019-12-24 00:00:00+09:00,2019-12-25 00:00:00+09:00,1,1,12200,reserved,NaT
101024,1999921,1856,66149,2019-12-22 21:44:59+09:00,2019-12-27 00:00:00+09:00,2019-12-28 00:00:00+09:00,1,1,19500,reserved,NaT
101025,1999932,3185,149478,2019-12-23 05:08:19+09:00,2019-12-29 00:00:00+09:00,2019-12-30 00:00:00+09:00,1,1,5300,reserved,NaT
101026,1999965,1908,68073,2019-12-24 22:42:50+09:00,2019-12-28 00:00:00+09:00,2019-12-29 00:00:00+09:00,1,1,12900,reserved,NaT
101027,1999999,3643,163568,2019-12-28 11:56:19+09:00,2019-12-30 00:00:00+09:00,2019-12-31 00:00:00+09:00,1,1,17000,reserved,NaT

### Polars

In [6]:
import polars as pl

In [7]:
pl_reservation = pl.read_parquet("../../data/reservation.parquet")
pl_hotel       = pl.read_parquet("../../data/hotel.parquet")

In [8]:
pl_reservation.head()

shape: (5, 11)
┌────────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ reservatio ┆ hotel_id ┆ customer_ ┆ reserved_ ┆ … ┆ people_nu ┆ total_pri ┆ status   ┆ canceled_ │
│ n_id       ┆ ---      ┆ id        ┆ at        ┆   ┆ m         ┆ ce        ┆ ---      ┆ at        │
│ ---        ┆ i64      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str      ┆ ---       │
│ i64        ┆          ┆ i64       ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆          ┆ datetime[ │
│            ┆          ┆           ┆ ns, Asia/ ┆   ┆           ┆           ┆          ┆ ns, Asia/ │
│            ┆          ┆           ┆ Tokyo]    ┆   ┆           ┆           ┆          ┆ Tokyo]    │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 1          ┆ 2460     ┆ 53431     ┆ 2013-12-3 ┆ … ┆ 2         ┆ 37800     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 07:00:14  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 2          ┆ 962      ┆ 488390    ┆ 2013-12-3 ┆ … ┆ 3         ┆ 42000     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 08:23:35  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 3          ┆ 558      ┆ 341335    ┆ 2013-12-3 ┆ … ┆ 2         ┆ 20400     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 09:02:05  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 4          ┆ 3666     ┆ 398981    ┆ 2013-12-3 ┆ … ┆ 4         ┆ 39600     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 23:44:54  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 5          ┆ 2180     ┆ 220381    ┆ 2014-01-0 ┆ … ┆ 3         ┆ 16500     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 1         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 02:47:50  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [9]:
pl_hotel.head()

shape: (5, 39)
┌──────────┬──────────────┬──────────────┬─────────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ hotel_id ┆ hotel_name   ┆ hotel_type   ┆ address_pre ┆ … ┆ tag_027 ┆ tag_028 ┆ tag_029 ┆ tag_030 │
│ ---      ┆ ---          ┆ ---          ┆ fecture     ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ i64      ┆ str          ┆ str          ┆ ---         ┆   ┆ i64     ┆ i64     ┆ i64     ┆ i64     │
│          ┆              ┆              ┆ str         ┆   ┆         ┆         ┆         ┆         │
╞══════════╪══════════════╪══════════════╪═════════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ 1        ┆ 北飯岡ホテル ┆ ビジネスホテ ┆ 岩手県      ┆ … ┆ 0       ┆ 0       ┆ 0       ┆ 0       │
│          ┆              ┆ ル           ┆             ┆   ┆         ┆         ┆         ┆         │
│ 2        ┆ 西二条南温泉 ┆ リゾートホテ ┆ 北海道      ┆ … ┆ 0       ┆ 0       ┆ 0       ┆ 0       │
│          ┆ ホテル       ┆ ル           ┆             ┆   ┆         ┆         ┆         ┆         │
│ 3        ┆ 小屋敷ペンシ ┆ 民宿         ┆ 青森県      ┆ … ┆ 0       ┆ 0       ┆ 0       ┆ 0       │
│          ┆ ョン         ┆              ┆             ┆   ┆         ┆         ┆         ┆         │
│ 4        ┆ 中後町民宿   ┆ 民宿         ┆ 愛知県      ┆ … ┆ 0       ┆ 0       ┆ 1       ┆ 0       │
│ 5        ┆ 鵜沼台ホテル ┆ ビジネスホテ ┆ 岐阜県      ┆ … ┆ 1       ┆ 1       ┆ 0       ┆ 0       │
│          ┆              ┆ ル           ┆             ┆   ┆         ┆         ┆         ┆         │
└──────────┴──────────────┴──────────────┴─────────────┴───┴─────────┴─────────┴─────────┴─────────┘

In [10]:
(
    pl_reservation
    .filter(pl.col("people_num") == 1)
    .join(
        pl_hotel.filter(pl.col("hotel_type") == "ビジネスホテル").select("hotel_id"),
        on="hotel_id",
        how="inner"
    )
)

shape: (101_028, 11)
┌────────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ reservatio ┆ hotel_id ┆ customer_ ┆ reserved_ ┆ … ┆ people_nu ┆ total_pri ┆ status   ┆ canceled_ │
│ n_id       ┆ ---      ┆ id        ┆ at        ┆   ┆ m         ┆ ce        ┆ ---      ┆ at        │
│ ---        ┆ i64      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str      ┆ ---       │
│ i64        ┆          ┆ i64       ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆          ┆ datetime[ │
│            ┆          ┆           ┆ ns, Asia/ ┆   ┆           ┆           ┆          ┆ ns, Asia/ │
│            ┆          ┆           ┆ Tokyo]    ┆   ┆           ┆           ┆          ┆ Tokyo]    │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 72         ┆ 2706     ┆ 100573    ┆ 2014-01-0 ┆ … ┆ 1         ┆ 8400      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 8         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 14:32:58  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 176        ┆ 1870     ┆ 40419     ┆ 2014-01-1 ┆ … ┆ 1         ┆ 25200     ┆ canceled ┆ 2014-06-1 │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆ 5         │
│            ┆          ┆           ┆ 02:33:55  ┆   ┆           ┆           ┆          ┆ 16:17:35  │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆ JST       │
│ 190        ┆ 1801     ┆ 4819      ┆ 2014-01-1 ┆ … ┆ 1         ┆ 5900      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 13:47:22  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 191        ┆ 3422     ┆ 53534     ┆ 2014-01-1 ┆ … ┆ 1         ┆ 8400      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 14:22:49  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 194        ┆ 521      ┆ 138201    ┆ 2014-01-1 ┆ … ┆ 1         ┆ 12100     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 15:39:34  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ …          ┆ …        ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ 1999920    ┆ 509      ┆ 360612    ┆ 2019-12-2 ┆ … ┆ 1         ┆ 12200     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 2         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 21:32:12  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999921    ┆ 1856     ┆ 66149     ┆ 2019-12-2 ┆ … ┆ 1         ┆ 19500     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 2         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 21:44:59  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999932    ┆ 3185     ┆ 149478    ┆ 2019-12-2 ┆ … ┆ 1         ┆ 5300      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 3         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 05:08:19  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999965    ┆ 1908     ┆ 68073     ┆ 2019-12-2 ┆ … ┆ 1         ┆ 12900     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 22:42:50  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999999    ┆ 3643     ┆ 163568    ┆ 2019-12-2 ┆ … ┆ 1         ┆ 17000     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 8         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 11:56:19  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [11]:
# semi
(
    pl_reservation
    .filter(pl.col("people_num") == 1)
    .join(
        pl_hotel.filter(pl.col("hotel_type") == "ビジネスホテル"),
        on="hotel_id",
        how="semi",
    )
)

shape: (101_028, 11)
┌────────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ reservatio ┆ hotel_id ┆ customer_ ┆ reserved_ ┆ … ┆ people_nu ┆ total_pri ┆ status   ┆ canceled_ │
│ n_id       ┆ ---      ┆ id        ┆ at        ┆   ┆ m         ┆ ce        ┆ ---      ┆ at        │
│ ---        ┆ i64      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str      ┆ ---       │
│ i64        ┆          ┆ i64       ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆          ┆ datetime[ │
│            ┆          ┆           ┆ ns, Asia/ ┆   ┆           ┆           ┆          ┆ ns, Asia/ │
│            ┆          ┆           ┆ Tokyo]    ┆   ┆           ┆           ┆          ┆ Tokyo]    │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 72         ┆ 2706     ┆ 100573    ┆ 2014-01-0 ┆ … ┆ 1         ┆ 8400      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 8         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 14:32:58  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 176        ┆ 1870     ┆ 40419     ┆ 2014-01-1 ┆ … ┆ 1         ┆ 25200     ┆ canceled ┆ 2014-06-1 │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆ 5         │
│            ┆          ┆           ┆ 02:33:55  ┆   ┆           ┆           ┆          ┆ 16:17:35  │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆ JST       │
│ 190        ┆ 1801     ┆ 4819      ┆ 2014-01-1 ┆ … ┆ 1         ┆ 5900      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 13:47:22  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 191        ┆ 3422     ┆ 53534     ┆ 2014-01-1 ┆ … ┆ 1         ┆ 8400      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 14:22:49  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 194        ┆ 521      ┆ 138201    ┆ 2014-01-1 ┆ … ┆ 1         ┆ 12100     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 15:39:34  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ …          ┆ …        ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ 1999920    ┆ 509      ┆ 360612    ┆ 2019-12-2 ┆ … ┆ 1         ┆ 12200     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 2         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 21:32:12  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999921    ┆ 1856     ┆ 66149     ┆ 2019-12-2 ┆ … ┆ 1         ┆ 19500     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 2         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 21:44:59  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999932    ┆ 3185     ┆ 149478    ┆ 2019-12-2 ┆ … ┆ 1         ┆ 5300      ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 3         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 05:08:19  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999965    ┆ 1908     ┆ 68073     ┆ 2019-12-2 ┆ … ┆ 1         ┆ 12900     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 4         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 22:42:50  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
│ 1999999    ┆ 3643     ┆ 163568    ┆ 2019-12-2 ┆ … ┆ 1         ┆ 17000     ┆ reserved ┆ null      │
│            ┆          ┆           ┆ 8         ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ 11:56:19  ┆   ┆           ┆           ┆          ┆           │
│            ┆          ┆           ┆ JST       ┆   ┆           ┆           ┆          ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘