# 4-3 Expression

In [1]:
import polars as pl

In [2]:
df = pl.DataFrame({
    "col1": [1,2,3],
    "col2": [10.0, 20.0, 30.0],
    "col3": ["a", "b", "c"],
})
df

shape: (3, 3)
┌──────┬──────┬──────┐
│ col1 ┆ col2 ┆ col3 │
│ ---  ┆ ---  ┆ ---  │
│ i64  ┆ f64  ┆ str  │
╞══════╪══════╪══════╡
│ 1    ┆ 10.0 ┆ a    │
│ 2    ┆ 20.0 ┆ b    │
│ 3    ┆ 30.0 ┆ c    │
└──────┴──────┴──────┘

In [3]:
# Define expression
expr = pl.col("col1").pow(2) + pl.col("col2")

In [4]:
# Execute expression
# select: expression -> DataFrame
df.select(expr)

shape: (3, 1)
┌──────┐
│ col1 │
│ ---  │
│ f64  │
╞══════╡
│ 11.0 │
│ 24.0 │
│ 39.0 │
└──────┘

In [5]:
# with_columns: expression -> DataFrame
# add new column
df.with_columns(col4=expr)

shape: (3, 4)
┌──────┬──────┬──────┬──────┐
│ col1 ┆ col2 ┆ col3 ┆ col4 │
│ ---  ┆ ---  ┆ ---  ┆ ---  │
│ i64  ┆ f64  ┆ str  ┆ f64  │
╞══════╪══════╪══════╪══════╡
│ 1    ┆ 10.0 ┆ a    ┆ 11.0 │
│ 2    ┆ 20.0 ┆ b    ┆ 24.0 │
│ 3    ┆ 30.0 ┆ c    ┆ 39.0 │
└──────┴──────┴──────┴──────┘