# 3-2 DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data={
    'col1': [1,2,3,4],
    'col2': [5,6,7,8],
    'col3': ['a', 'b', 'c', 'd'],
})
df

   col1  col2 col3
0     1     5    a
1     2     6    b
2     3     7    c
3     4     8    d

In [3]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [5]:
# 2D ndarray
df.values

array([[1, 5, 'a'],
       [2, 6, 'b'],
       [3, 7, 'c'],
       [4, 8, 'd']], dtype=object)

In [6]:
df.loc[[1,3], ['col1', 'col3']]

   col1 col3
1     2    b
3     4    d

In [7]:
df.loc[[1,3], :]

   col1  col2 col3
1     2     6    b
3     4     8    d

In [8]:
df.loc[1, 'col1']

2

In [9]:
df.iloc[[1,2], [1,2]]

   col2 col3
1     6    b
2     7    c

In [10]:
df.at[1, 'col1']

2

In [11]:
df.iat[1,1]

6

In [12]:
df['col1']

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [13]:
df[['col1', 'col2']]

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8